.myProgress {
    position: relative;
    width: 70%;
    height: 30px;
    background-color: grey;
    left:15%;
}
.myBar {
    position: absolute;
    width: 1%;
    height: 100%;
}
.label {
    text-align: center;
    line-height: 30px;
    color:white;
}
#currsem{
	background-color: green;
}
#curryer {
    background-color: blue;
}
#all {
    background-color: red;
}
#meals{
	background-color: orange;
}
body{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color:white;
	background-color:black;
}